html,
body {
  height: 100vh;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

/* SplitJS styles from https://github.com/nathancahill/split/tree/master/packages/splitjs */
.flex {
  display: flex;
  flex-direction: row;
}
.split {
  overflow-y: auto;
  overflow-x: hidden;
}
.gutter {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.shellydirect {
  cursor: pointer;
  color: lightskyblue;
}
.shellydirect:hover {
  text-decoration: underline;
  cursor: pointer;
  color: lightblue;
  text-shadow: 1px 1px 1px #555;
}

#shellyAccessModal .modal-dialog {
  width: 98%;
  height: 90%;
  padding: 0;
}

#shellyAccessModal .modal-content {
  width: 100%;
  height: 100%;
}

#shellyAccessModal .modal-body {
  width: 100%;
  height: 100%;
}

.shellydetailcard .card-header {
  background-color: #3a5faf30;
}
.shellydetail dt,
.shellydetail dd {
  line-height: 1.33;
}

.card-header .fa {
  transition: 0.3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: 0.8;
}
.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
